.header-container {
    position: absolute;
    top: 20px;
    left: 50px;
    display: flex;
    align-items: center;
  }
  
.title {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.image {
    width: 70px;
    height: auto;
    padding-top: 5px;
}